# --- CMake ---
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json

# Build directories (out-of-source builds)
build/
cmake-build-*/

# --- Visual Studio ---
.vs/
*.vcxproj*
*.sln
*.user
*.filters
*.opensdf
*.sdf
*.ipch
*.pdb
*.obj
*.exe
*.dll
*.lib
*.app
*.iobj
*.idb

# --- CLion / JetBrains ---
.idea/
*.iml

# --- Other IDEs ---
*.swp
*.DS_Store
Thumbs.db

# --- Logs & temp files ---
*.log

# --- Binary files ---
*.out
*.a
*.so
*.dylib

